* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
body{
    background-color: rgb(243, 218, 245);
    font-family: arial;
}
.menu {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: -20px 20px;
}

.menu a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    
}
.menu a:hover {
    background-color: #c785bb;
}
img {
    height: 80px;
}

.producto {
    display: flex;
    gap: 40px;
    background: white;
    border-radius: 12px;
    padding: 32px;
    max-width: 800px;
    margin: 40px auto;
}
.producto-col {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.producto-img {
    width: 150px;
    height: 150px;
    border-radius: 12px;
}
.precio {
    font-size: 32px;
    font-weight: bold;
    color: #2a7ae4;
    margin-bottom: 24px;
}
.btn-carrito {
    background: #2a7ae4;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 12px 24px;
    cursor: pointer;
}
.btn-carrito:hover {
    background: #1a569b;
}
h2 {
    color: black;
    margin: 20px 15px;
    text-align: center;
}
.producto {
    font-size: 14px;
}
.h2-producto {
    font-size: 22px;
    margin-bottom: 12px;
    padding-left: 20px;
    padding-right: 10px;
}
.carrito-icon{
    width: 60px;
    height: 60px;
    position: absolute;
    right: 20px;
    top: 10px;
}